html {
    -webkit-tap-highlight-color: transparent;
}
.ss-card {
    border-radius: 15px;
}

.tab-bar>li svg {
    font-size: 1.2rem !important;
}
.tab-bar>span {
    display: none;
}

#app {
    background: var(--color-card);
}
.main-body > ul {
    background: rgba(var(--color-card-rgb), 0.7);
    backdrop-filter: blur(35px);
}

.login-pan-card {
    background: transparent;
    box-shadow: unset;
}
.login-pan-card:hover {
    box-shadow: unset !important;
}
.wave-pan {
    display: none;
}

/* 一级侧栏 */
.main-body > ul {
    justify-content: space-evenly;
    padding-bottom: var(--safe-area-bottom);
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: row;
    width: 365px;
    height: 75px;
    left: 0;
    bottom: 0;
}
.side-bar-space {
    display: none;
}
.friend-list {
    background: var(--color-card);
    width: 365px;
}
.chat-pan {
    left: 365px;
}
.friend-body img {
    height: 45px;
    width: 45px;
}

.home-body {
    background: var(--color-card);
    width: calc(100% - 365px);
    margin-left: 365px;
    border-left: 1px solid var(--color-card-2);
}

/* 聊天面板 */
.viewer-footer > div {
    margin-top: calc(var(--safe-area--viewer-top) + 15px);
}
.chat-pan > div.info > svg {
    display: none;
}
.main-body > ul > li > span {
    display: block !important;
}
.main-body > ul > li {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}
.main-body > ul > li.active > span,
.main-body > ul > li.active > svg {
    background-color: transparent;
    color: var(--color-main);
}
.chat-pan {
    z-index: 21;
    height: calc(100% + 35px - var(--safe-area-bottom));
    border-left: 1px solid var(--color-card-2);
}
.chat-pan > div.info {
    margin: 0 0 15px 0;
    width: calc(100% - 50px);
    padding: 15px 25px;
    padding-top: calc(var(--safe-area-top) + 15px);
    background: rgba(var(--color-card-rgb), 0.7);
    backdrop-filter: blur(35px);
    box-shadow: unset;
    border-bottom: 1px solid var(--color-card-2);
    border-radius: 0;
}
.merge-pan {
    box-shadow: 0 0 5px var(--color-shader);
}
.merge-pan>div:last-child>div:first-child {
    margin: calc(var(--safe-area-top) + 15px) 35px 0 35px;
    flex-direction: row-reverse;
    overflow: hidden;
    padding: 0;
}
.merge-pan>div:last-child>div:first-child svg:first-child {
    display: none;
}
.merge-pan>div:last-child>div:first-child svg {
    transform: translateX(calc(-50% + 1px));
}
.merge-pan>div:last-child>div:first-child span {
    font-size: 1.5rem;
}
.chat-pan > div.bg {
    height: calc(100% - 34px - var(--append-fs-adaptation));
}
.chat-pan > div.chat {
    margin-bottom: -60px;
    padding-bottom: 60px;
}
.chat-pan > div.chat > div:first-child > div:last-child {
    padding-bottom: 70px;
}
.chat-pan > div.more {
    padding-bottom: var(--safe-area-bottom);
}
.chat-pan > div.more > div:first-child {
    background: var(--color-card-1);
}
.chat-pan > div.more > div:nth-child(2) {
    background: rgba(var(--color-card-rgb), 0.7);
    backdrop-filter: blur(35px);
}
.chat-pan > div.more > div:nth-child(2) > div:first-child {
    border-radius: 999px;
    height: 40px;
    width: 40px;
}
.chat-pan > div.more > div:nth-child(2) > div:first-child > svg {
    margin: 8px 13px;
    height: 25px;
    width: 15px;
}
.chat-pan > div.more > div:nth-child(2) > div:nth-child(2) {
    background: transparent;
    border: 1px solid var(--color-font-2);
    opacity: 0.7;
    border-radius: 999px;
    height: 40px;
}
.chat-pan > div.more > div:nth-child(2) > div:nth-child(2) > div {
    display: none;
}
.msg-menu-body {
    max-width: 35%;
    width: 35%;
}
.chat-pan > div.new-msg {
    margin: -50px 20px 20px auto;
}
.more-detail {
    background: var(--color-card-1);
}
.more-detail > div {
    background: var(--color-card-2);
}
.face-pan {
    position: relative;
    transform: unset;
    width: 100%;
    border-radius: 0;
    margin: 0;
}
.face-pan div.tab-main > div {
    padding-top: 10px !important;
}
.base-face, .face-stickers {
    height: 300px;
}
.img-sender {
    height: calc(100% - var(--safe-area-top) - calc(var(--safe-area-bottom) + 15px));
    margin: calc(var(--safe-area-top) + 15px) 20px 0 20px;
    width: calc(100% - 40px);
}
.img-sender > div.card {
    box-shadow: 0 0 5px var(--color-shader) !important;
    border-radius: 7px !important;
}
/* 消息 */
.msg-img {
    max-height: 40vh;
}
.msg-img.alone {
    max-width: calc(100% + 30px);
    margin: -10px -15px;
}
/* 设置面板 */
.opt-tab {
    height: calc(100% - 145px);
}
.opt-tab > div:first-child {
    box-shadow: unset !important;
    margin: 0 -10px 0 -10px !important;
    padding-top: calc(var(--safe-area-top) + 20px);
    background: transparent;
    backdrop-filter: blur(35px);
}
.opt-tab > div:first-child > div {
    box-shadow: 0 0 5px var(--color-shader);
    width: fit-content;
    margin: 0 auto 20px auto;
    background: var(--color-card-2);
    border-radius: 999px;
    padding: 0 20px !important;
}
.opt-tab > div:first-child svg {
    font-size: 1.2rem;
}
.opt-tab .tab-bar {
    margin: -17px -10px -17px -50px;
}
.opt-tab .tab-bar > li:last-child > div {
    box-shadow: -10px 0 0 0 var(--color-card), 10px 0 0 0 var(--color-card);
    background: var(--color-card);
    height: 30px;
    margin-top: -30px;
    border-radius: 999px;
    z-index: 1;
}
.opt-tab .tab-bar > li span {
    z-index: 2;
}
.opt-tab .tab-bar > li:last-child span {
    transform: translateY(-5px);
}
.opt-tab .tab-body {
    margin-top: -60px;
    padding-top: 70px;
}
.opt-tab .tab-body > div {
    padding: 0 10%;
}
.friend-list-space {
    border-left: 1px solid var(--color-card-2);
    background: var(--color-card);
}

.opt-main {
    padding-top: 0;
}
.opt-main>div:first-child {
    padding-top: var(--safe-area-top);
}

.chat-pan > div.more > div:nth-child(2) > div > form > input,
.chat-pan > div.more > div:nth-child(2) > div > form > textarea {
    font-weight: normal;
}

.friend-list > div:first-child {
    padding-top: var(--safe-area-top);
}

.icon-list {
    display: flex;
}
.icon-list > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}
.icon-list > div.selected > img {
    border: 3px solid var(--color-main);
}
.icon-list img {
    width: 55px;
    transition: border .3s;
    border: 3px solid var(--color-card-2);
    border-radius: 15px;
}
.icon-list span {
    font-size: 0.85rem;
    color: var(--color-font-1);
    margin-top: 5px;
}
