.main-body > div {
    height: calc(100% - 75px - var(--safe-area-top) - var(--safe-area-bottom));
    padding-bottom: calc(75px + var(--safe-area-bottom));
    margin-top: var(--safe-area-top);
}

.opt-main-tab,
.main-body > div > div[name="主页"] {
    margin-top: calc(1px - var(--safe-area-top)) !important;
    height: calc(100% + var(--safe-area-top) + var(--safe-area-bottom) - 20px) !important;
}

.chat-pan {
    box-shadow: 0 0 5px var(--color-shader);
}

/* 联系人列表 */
.friend-list .small {
    display: none !important;
}
.friend-list .base {
    display: flex !important;
}
.friend-list .base > span {
    font-size: 1.5rem;
}
.friend-list .base > svg {
    height: 1.3rem !important;
}
.friend-list > div:first-child {
    padding-top: 0;
}
.friend-list > div:first-child label {
    height: calc(1rem + 25px);
    margin-top: 10px;
    display: flex;
}
.friend-list > div:first-child label > input {
    font-size: 1rem;
}
.friend-body > div:nth-child(1) {
    transform: scaleY(0) !important;
    height: unset !important;
    width: 6px !important;
    border-radius: 6px !important;
    position: unset !important;
}
.friend-body > div:nth-child(1).new {
    transform: scaleY(0.5) !important;
}
.exp-header:not(.open) {
    display: flex !important;
}

.chat-info > header {
    margin-top: calc(var(--safe-area-top));
    flex-direction: row-reverse;
    overflow: hidden;
    transform: translateX(20px);
}
.chat-info>header>span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.chat-info>header>svg {
    width: 2.2rem;
    height: 2.2rem;
    transform: translateX(calc(-50% + 0.5px));
    margin-right: -10px;
}

.msg-img {
    max-height: 20vh;
}

.home-body {
    width: 100%;
    margin-left: 0;
}

.opt-tab .tab-body > div {
    padding: 0;
}
