#app {
    background: none !important;
}

::-webkit-scrollbar {
    background: rgba(var(--color-card-rgb), 0.3);
}

.pop-box > div:last-child {
    opacity: 0.5;
}
.pop-box-body {
    background-color: rgba(var(--color-card-rgb), 0.3);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}
.pop-box-body > div.button {
    background: rgba(var(--color-card-1-rgb), 0.5);
}

.friend-view > div:last-child {
    background: transparent;
    box-shadow: unset;
}
.friend-view > div:last-child > div {
    background: unset;
    box-shadow: unset;
}
.friend-view > div:last-child > div.cd {
    display: none;
}
.friend-body > svg {
    background: var(--color-main);
    color: var(--color-font-r);
}

.chat-pan {
    background: transparent;
}
.chat-pan > div.bg {
    background: unset;
}
.chat-pan > div.info {
    background: rgba(var(--color-card-rgb), 0.3);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}

.chat-pan > div.new-msg > div {
    background: rgba(var(--color-card-1-rgb), 0.4);
    backdrop-filter: blur(15px);
}

.merge-pan.show > div:first-child {
    opacity: 0;
}
.merge-pan > div:last-child {
    background: rgba(var(--color-card-rgb), 0.5);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}

.chat-info {
    background-color: rgba(var(--color-card-rgb), 0.5);
    backdrop-filter: blur(20px);
}
.chat-info-tab > div:first-child {
    background: transparent;
}
.forward-pan > div.card {
    background: rgba(var(--color-card-rgb), 0.5);
    box-shadow: 0 0 3px var(--color-shader);
    backdrop-filter: blur(20px);
}
.forward-pan > div.bg {
    background: unset;
}

.chat-pan > div.more > div:nth-child(2) > div {
    background: rgba(var(--color-card-2-rgb), 0.5);
}
.note-base {
    background: rgba(var(--color-card-rgb), 0.5);
}
.message-body > div {
    background: rgba(var(--color-card-rgb), 0.3);
}
.msg-menu-body {
    background: rgba(var(--color-bg-rgb), 0.3);
    backdrop-filter: blur(10px);
}
.message.selected {
    background: #00000014;
}

.face-pan,
.jin-pan,
.select-tag,
.replay-tag {
    background-color: rgba(var(--color-card-rgb), 0.5);
    backdrop-filter: blur(15px);
}
.base-face > div,
.face-stickers > img,
.jin-pan-body > div {
    background: rgba(var(--color-card-rgb), 0.3);
}

.contributors-card {
    background: unset;
}

.opt-main > div:last-child {
    background-color: transparent !important;
    box-shadow: unset !important;
}
.opt-page > div,
.opt-tab > div:first-child,
.end-card {
    background: rgba(var(--color-card-rgb), 0.3);
    box-shadow: unset !important;
}
.account-info {
    background: var(--color-main) !important;
}
.opt-page > div > div.tip,
.l10n-info,
.bot-status {
    background: rgba(var(--color-card-1-rgb), 0.4);
}

.opt-item:hover {
    background: rgba(var(--color-card-1-rgb), 0.8);
}
.opt-item input[type='text'],
.opt-item select,
.ss-range input,
.opt-item > div.file-choice > div,
.ss-switch > div,
.debug-info {
    background: rgba(var(--color-card-1-rgb), 0.5);
}

.dept-list > div:first-child {
    background: unset;
}
.power-by,
.dept-list-body > div.info,
.dept > div {
    background: rgba(var(--color-card-rgb), 0.3) !important;
}

.end-card > svg {
    opacity: 0.5;
}
