html,
body,
.main-body > ul,
.friend-list,
.friend-list-space,
.chat-pan,
.opt-main {
    background: transparent !important;
}

.friend-list-space > div.cd,
.chat-pan > div.bg {
    display: none;
}

.main-body > ul > li > svg,
.friend-body,
.friend-body > svg,
.friend-body img,
.chat-pan > div.info > svg,
.chat-pan > div.info,
.ss-card {
    border-radius: 14px !important;
}
