name: 构建 Docker 并推送到Docker Hub和GHCR

on:
  workflow_call:
    inputs:
      version:
        description: '应用版本'
        required: true
        type: string
    secrets:
      DOCKER_PASSWORD:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: 拉取代码
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        
      - name: 下载 Web 版本构建产物
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
            name: ${{ inputs.version }}-web
            
      - name: 解压 Web 版本构建产物
        run: unzip -q Stapxs.QQ.Lite-${{ inputs.version }}-web.zip
        
      - name: 设置 Docker Buildx
        uses: docker/setup-buildx-action@1583c0f09d26c58c59d25b0eef29792b7ce99d9a
        
      - name: 登录 Docker Hub
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          username: stapxs
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 登录 GitHub Container Registry
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: 构建并推送 Docker 镜像到多个仓库
        run: |
          # 使用动态用户名构建GHCR镜像标签
          GHCR_IMAGE_NAME=$(echo "ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:latest" | tr '[:upper:]' '[:lower:]')
          
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t stapxs/qq-web:latest \
            -t $GHCR_IMAGE_NAME \
            --push .
          