name: 构建 Electron

on:
  workflow_call:
    inputs:
      version:
        description: '应用版本'
        required: true
        type: string

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019, ubuntu-latest]

    steps:
      - name: 安装构建依赖
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install -y libarchive-tools
      - name: 拉取代码
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: 设置 Nodejs
        uses: actions/setup-node@v4
        with:
            node-version: 20.x
      - name: 更新依赖
        run: yarn

      - name: 构建 Electron 应用
        if: matrix.os == 'windows-2019'
        run: yarn build:electron
        env:
            GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      - name: 构建 Electron 应用
        if: matrix.os == 'ubuntu-latest'
        run: yarn build:electron
        env:
            GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: 上传构建产物
        uses: actions/upload-artifact@v4
        with:
            name: ${{ inputs.version }}-${{ matrix.os }}
            path: dist_electron
